
.contenedor{
    width: 45%;
    margin: 0px auto; /* center un Bloque */
    text-align: center;
    background: #d1ccc0;
  }
  

img {
    max-width: 100%;  
    height: auto;
    border-bottom: 5px solid #FF5722;
}


h1{
    color: #b3b4c4;
    text-align: center;

  }

input {
    height: auto;
    background:yellow;
    text-align: center;  
    
}

.caja {
    font-weight:bold;
    font-size: 15px;
    color: #130f40;
    margin: 0px auto; /* center un Bloque */
}
p {
    color: blue;
    text-align: center;
    font-size: 15px;
}

@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}

@media (max-width:1100px){
    .cajero{
      width: 65%;
      float: none;
      margin: 0px auto;
   }
   img {
    max-width: 100%;  
    height: auto;
    border-bottom: 5px solid #FF5722;
}

  }
 
 @media (max-width:460px){
    .cajero{
        width: 45%;
        float: none;
        margin: 0px auto;
     }
     img {
        max-width: 100%;  
        height: auto;
        border-bottom: 5px solid #FF5722;
    }
    
 }
 
 @media (max-width:377px){
     
  .cajero{
    width: 150px;
    float: none;
    margin: 0px auto;
 }
 img {
    max-width: 100%;  
    height: auto;
    border-bottom: 5px solid #FF5722;
}
 }